body {
    /*background-image: url("/imgs/fondo-web.jpg");*/
    background-repeat: none;
    background-position: fixed;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 45, 45);
    color: white;
}

nav {
    background-color:rgb(184, 184, 184);
}

nav ul {
    
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: red;
    
}

nav ul li a:hover {
    font-size: 15px;
    
}

aside {
    display: flex;
    align-items: center;
}

main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

}

main section article {
    display: flex;
    flex-direction: column;
    max-width:250px;
    align-self: center;
    
}

.tarjeta img {
    width: 300px;
}

main section article img {
    width: 200px;
    min-height: 100px;
}

footer {
    display: flex;

}